{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/UserInform/style.css' %}">
{% endblock %}

{% block body %}
	<form id="userForm" action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
		<div id="ID1">
			<svg class="_bj">
				<rect id="_bj" rx="0" ry="0" x="0" y="0" width="428" height="64">
				</rect>
			</svg>
			<div id="_bk">
				<span>基本資料</span>
			</div>

			<!--	userid, username	-->
			<div id="name" class="name">
				{{ form.line_id }}
				<div id="textname">
					<span>名字:</span>
					<div id="nametextbox">
						{{ form.username }}
					</div>
				</div>
			</div>

			<!--	age	-->
			<div id="age" class="age">
				<div id="agetext">
					<span>生日：</span>
					<div id="agetextbox">
						{{ form.birth }}
					</div>
				</div>
			</div>

			<!--	gender	-->
			{{ form.gender }}
			<div id="woman1">
				<div id="woman">
					<button id="G2" name="gender_btn" value="F" type="button" class ="btn1" style="background-color: #ffffff;">
						<img src="{% static 'images/UserInform/woman.png' %}" style="width: 100%;">
					</button>
				</div>
			</div>

			<div id="man1">
				<div id="man">
					<button id="G1" name="gender_btn" value="M" type = "button" class = "btn1" style="background-color: #ffffff;">
						<img id="man_img" src="{% static 'images/UserInform/man.png' %}" style="width: 100%;">
					</button>
				</div>
			</div>

			<!--	buttons	-->
			<div id="NEXT" class="NEXT">
				<svg class="_4">
					<rect id="_4" rx="24" ry="24" x="0" y="0" width="123" height="48">
					</rect>
				</svg>
				<div id="final">
					<input type="button" value="完成" onclick="check(this);">
				</div>
			</div>
		</div>

		<!--	job	-->
		{{ form.career_id }}
		<div id="_bo">
			<!-- 底框 -->
			<svg class="_5">
				<rect id="_5" rx="28" ry="28" x="0" y="0" width="384" height="337">
				</rect>
			</svg>

			<div id="_bq">
				<!-- 其他 -->
				<div id="other">
					<div id="other_text">
						<span>其他</span>
					</div>
					<div id="other_btn">
						<button id = "C009" name="job_btn" value="C009" type = "button" class = "btn3" style="background-color:rgba(255,255,255,1);">
							<img id="ID035-astronaut" src="{% static 'images/UserInform/ID035-astronaut.png' %}" srcset="{% static 'images/UserInform/ID035-astronaut.png' %} 1x, {% static 'images/UserInform/ID035-astronaut@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 農民漁牧業 -->
				<div id="farmer">
					<div id="farmer_text">
						<span>農民漁牧業</span>
					</div>
					<div id="farmer_btn">
						<button id = "C008" name="job_btn" value="C008" type = "button" class = "btn3" style="background-color:rgb(255, 252, 203);">
							<img id="ID001-farmer" src="{% static 'images/UserInform/ID001-farmer.png' %}" srcset="{% static 'images/UserInform/ID001-farmer.png' %} 1x, {% static 'images/UserInform/ID001-farmer@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 退休人員 -->
				<div id="retirement">
					<div id="retirement_text">
						<span>退休人員</span>
					</div>
					<div id="retirement_btn">
						<button id = "C007" name="job_btn" value="C007" type = "button" class = "btn3" style="background-color: rgba(167,233,212,1);">
							<img id="ID043-teacher" src="{% static 'images/UserInform/ID043-teacher.png' %}" srcset="{% static 'images/UserInform/ID043-teacher.png' %} 1x, {% static 'images/UserInform/ID043-teacher@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 家管 -->
				<div id="home">
					<div id="home_text">
						<span>家管</span>
					</div>
					<div id="home_btn">
						<button id = "C006" name="job_btn" value="C006" type = "button" class = "btn3" style="background-color: rgba(251, 219, 231,1);">
							<img id="ID008-maid" src="{% static 'images/UserInform/img/ID008-maid.png' %}" srcset="{% static 'images/UserInform/ID008-maid.png' %} 1x, {% static 'images/UserInform/ID008-maid@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 工商業 -->
				<div id="business">
					<div id="business_text">
						<span>工商業</span>
					</div>
					<div id="business_btn">
						<button id = "C005" name="job_btn" value="C005" type = "button" class = "btn3" style="background-color: rgba(136,158,170,1);">
							<img id="ID048-office-worker" src="{% static 'images/UserInform/ID048-office-worker.png' %}" srcset="{% static 'images/UserInform/ID048-office-worker.png' %} 1x, {% static 'images/UserInform/ID048-office-worker@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 自由業 -->
				<div id="freelance">
					<div id="freelance_text">
						<span>自由業</span>
					</div>
					<div id="freelance_btn">
						<button id = "C004" name="job_btn" value="C004" type = "button" class = "btn3" style="background-color: rgba(147,146,155,1);">
							<img id="ID019-hacker" src="{% static 'images/UserInform/ID019-hacker.png' %}" srcset="{% static 'images/UserInform/ID019-hacker.png' %} 1x, {% static 'images/UserInform/ID019-hacker@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 服務業 -->
				<div id="service">
					<div id="service_text">
						<span>服務業</span>
					</div>
					<div id="service_btn">
						<button id = "C003" name="job_btn" value="C003" type = "button" class = "btn3" style="background-color: rgba(184,245,255,1);">
							<img id="ID046-telemarketerr" src="{% static 'images/UserInform/ID046-telemarketer.png' %}" srcset="{% static 'images/UserInform/ID046-telemarketer.png' %} 1x, {% static 'images/UserInform/ID046-telemarketer@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 軍公教 -->
				<div id="soldier">
					<div id="soldier_text">
						<span>軍公教</span>
					</div>
					<div id="soldier_btn">
						<button id="C002" name="job_btn" value="C002" type="button" class="btn3" style="background-color: rgba(198,218,208,1);">
							<img id="ID030-soldier" src="{% static 'images/UserInform/ID030-soldier.png' %}" srcset="{% static 'images/UserInform/ID030-soldier.png' %} 1x, {% static 'images/UserInform/ID030-soldier@2x.png' %} 2x">
						</button>
					</div>
				</div>

				<!-- 學生 -->
				<div id="student">
					<div id="student_text">
						<span>學生</span>
					</div>
					<div id="student_btn">
						<button id="C001" name="job_btn" value="C001" type="button" class="btn3" style="background-color: rgba(250,215,179,1);">
							<img id="ID009-student" src="{% static 'images/UserInform/ID009-student.png' %}" srcset="{% static 'images/UserInform/ID009-student.png' %} 1x, {% static 'images/UserInform/ID009-student@2x.png' %} 2x">
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/UserInform/editUser.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	<script type="text/javascript">
        function check(){
            var button = document.getElementById('userForm');
            var username = document.getElementById('disname').value;
            
			if(username == 0){
                swal("請填寫名字", "", "error");
            }
			else{
                swal("儲存成功", "", "success", {button:"OK"})
                    .then(() => {
                        button.submit();
                    });
            }

        }
    </script>
	
{% endblock %}
