{% extends 'layout.html' %}

{% load bootstrap4 %}

{% load static %}

{% block body %}
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Add New Member</h1>
      <hr>
      <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary" onclick="myMsg(this);">
            Submit
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>

{% endblock %}

{% block js %}
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="{% static 'js/liff.js' %}"></script>
{% endblock %}

