{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/UserInform/style.css' %}">
{% endblock %}
{% block body %}
<div id="ID1">
	<div id="logo" class="logo">
		<svg class="logo_">
			<ellipse id="logo_" rx="135" ry="135" cx="135" cy="135">
			</ellipse>
		</svg>
		<div id="logo_ba">
			<span>logo</span>
		</div>
	</div>
	<div id="NEXT" class="NEXT" onclick="nextpage();">
		<!-- application.goToTargetView(event) -->
		<svg class="_4">
			<rect id="_4" rx="24" ry="24" x="0" y="0" width="123" height="48">
			</rect>
		</svg>
		<div id="Next">
			<span>Next</span>
		</div>
	</div>

	<div id="_2">
		<div id="woman1">
			<div id="woman">
				<button id = "2" type = "button" class = "btn1" style="background-color: #ffffff;" onclick="genderselect();">
					<img src="{% static 'images/UserInform/woman.png' %}" style="width: 100%;">
				</button>
			</div>
		</div>
	</div>

	<div id="_1_be">

		<div id="man1">
			<div id="man">
				<button id = "1" type = "button" class = "btn1" style="background-color: #ffffff;" onclick="genderselect();">
					<img id="man_img" src="{% static 'images/UserInform/man.png' %}" style="width: 100%;">
				</button>
			</div>
		</div>
	</div>
	<p>userID</p>
	<input class="form-control" type="text" id="disname" />
	<div id="name" class="name">
		<div id="nametext">
			<span>名字:
				<input class="userName" name="UserName" type="text">
			</span>
		</div>
		
	</div>
</div>
{%endblock %}

{% block js %}
	<script src="{% static 'js/UserInform/userinform1.js' %}"></script>
	<script src="{% static 'js/liff.js' %}"></script>
	<script>
		function nextpage(){
			window.location.href="{% url 'EmotionDiary:userinfo2' %}";
		};
	</script>
{% endblock %}
