
	form, #ID2{
		position: relative;
		min-width: fit-content;
		height: 100%;
		background-image: url('../../images/Diary/add/_2.png');
		background-size: cover;
		background-color: rgba(250,247,237,1);
		background-repeat: no-repeat;
		overflow-x: hidden;
		overflow-y: visible;
	}

	/* -- 日期＆時間 -- */
    #date {
		position: relative;
		top: 10px;
		width: 295px;
		height: 75px;
		margin: 0 auto;
		text-align: center;
		font-family: Kohinoor Bangla;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(132,86,42,1);
	}

	#time {
	    position: relative;
		width: 295px;
		height: 75px;
		margin: 0 auto;
		white-space: nowrap;
		text-align: center;
		font-family: Kohinoor Bangla;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(132,86,42,1);
	}

    #line_9 {
        position: relative;
        width: 295px;
        height: 5px;
        margin: 0 auto;
    }
	#_9 {
		position: absolute;
		width: 295px;
		height: 1px;
		transform: matrix(1,0,0,1,0,0);
	}
	._9 {
		fill: rgba(0,0,0,0);
		stroke: rgba(132,86,42,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}

    /* -- mood -- */
	#emoji{
		position: relative;
		width: 348px;
		height: 315px;
		margin: 20px auto;
	}
	#_area{
		position: absolute;
		width: 348px;
		height: 315px;
	}
	#_101 {
		fill: rgba(255,255,255,1);
	}
	._101 {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 348px;
		height: 315px;
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	}
	#_15 {
		fill: rgba(250,247,237,1);
	}
	._15 {
		position: absolute;
		left: 13px;
		top: 5px;
		width: 18px;
		height: 18px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_16 {
		fill: rgba(250,247,237,1);
	}
	._16 {
		position: absolute;
		left: 41px;
		top: 5px;
		width: 18px;
		height: 18px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_17 {
		fill: rgba(250,247,237,1);
	}
	._17 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 69px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_18 {
		fill: rgba(250,247,237,1);
	}
	._18 {
		position: absolute;
		left: 97px;
		top: 5px;
		width: 18px;
		height: 18px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_19 {
		fill: rgba(250,247,237,1);
	}
	._19 {
		position: absolute;
	    left: 125px;
		top: 5px;
		width: 18px;
		height: 18px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_20 {
		fill: rgba(250,247,237,1);
	}
	._20 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 153px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_21 {
		fill: rgba(250,247,237,1);
	}
	._21 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 181px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_22 {
		fill: rgba(250,247,237,1);
	}
	._22 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 209px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_23 {
		fill: rgba(250,247,237,1);
	}
	._23 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 237px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_24 {
		fill: rgba(250,247,237,1);
	}
	._24 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 265px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_25 {
		fill: rgba(250,247,237,1);
	}
	._25 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 293px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_26 {
		fill: rgba(250,247,237,1);
	}
	._26 {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 321px;
		top: 5px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#emoji_text {
		position: relative;
		width: 161px;
		top: 30px;
		margin: 0 auto;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(132,86,42,1);
	}
	#w644 {
		position: relative;
		width: 135.913px;
		height: 99.357px;
		top: -50px;
		left: -30px;
		filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.161));
	}

	#_33 {
		position: absolute;
		width: 295px;
		height: 220px;
		left: 30px;
		top: 70px;
	}

    /* -- mood_btn -- */
    /* -- joy -- */
	#joy {
	    position: relative;
	    float: left;
	    width: 80px;
	    height:110px;
	}
	#joy_text {
		position: relative;
		width: 80px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(132,86,42,1);
	}
	#ID051-joy {
		position: relative;
		width: 74px;
		height: 74px;
	}

    /* -- neutral -- */
    #neutral {
        position: relative;
	    float: right;
	    width: 80px;
	    height:110px;
    }
	#neutral_text {
	    position: relative;
		width: 49px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(132,86,42,1);
	}
	#ID051-neutral {
		position: relative;
		width: 74px;
		height: 74px;
	}

	/* -- happy -- */
	#happy {
	    position: relative;
	    width: 80px;
	    height:110px;
	    margin: 0 auto;
	}
	#happy_text {
		position: relative;
		width: 80px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(132,86,42,1);
	}
	#ID051-happy {
		position: relative;
		width: 74px;
		height: 74px;
		left: -1px;
		top: -1px;
	}

	/* -- sad -- */
	#sad {
	    position: relative;
	    float: left;
	    width: 80px;
	    height: 100px;
	    margin-left: 50px;
	}
	#sad_text {
		position: relative;
		width: 80px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(132,86,42,1);
	}
	#ID051-sad-1 {
		position: relative;
		width: 74px;
		height: 74px;
	}
	/* -- cry -- */
	#cry {
	    position: relative;
	    float: right;
	    width: 80px;
	    height: 100px;
	    margin-right: 50px;
	}
	#cry_text {
		position: relative;
		width: 80px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(132,86,42,1);
	}
	#ID051-cry {
		position: relative;
		width: 74px;
		height: 74px;
	}

	.btn1 {
	    position: relative;
		width: 80px;
		height: 80px;
		padding: 0;
		border: none;
		border-radius: 80px;
		background-color: rgb(247, 203, 203);

	}
	.btn2 {
		position: relative;
		width: 80px;
		height: 80px;
		padding: 0;
		border: none;
		border-radius: 80px;
		background-color: rgb(115, 190, 230);
	}
	/* -- Face_Scanning  -- */
	#_bx {
		position: relative;
		width: 348px;
		height: 300px;
		margin: 0 auto;
	}
	#_101_by {
		fill: rgba(255,255,255,1);
	}
	._101_by {
		position: absolute;
		width: 348px;
		height: 300px;
		left: 0px;
		top: 0px;
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	}
	#_15_bz {
		fill: rgba(250,247,237,1);
	}
	._15_bz {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 13px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_16_b {
		fill: rgba(250,247,237,1);
	}
	._16_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 41px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_17_b {
		fill: rgba(250,247,237,1);
	}
	._17_b {

		position: absolute;
		width: 18px;
		height: 18px;
		left: 69px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_18_b {
		fill: rgba(250,247,237,1);
	}
	._18_b {

		position: absolute;
		width: 18px;
		height: 18px;
		left: 97px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_19_b {
		fill: rgba(250,247,237,1);
	}
	._19_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 125px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_20_b {
		fill: rgba(250,247,237,1);
	}
	._20_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 153px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_21_b {
		fill: rgba(250,247,237,1);
	}
	._21_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 181px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_22_b {
		fill: rgba(250,247,237,1);
	}
	._22_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 209px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_23_b {
		fill: rgba(250,247,237,1);
	}
	._23_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 237px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_24_b {
		fill: rgba(250,247,237,1);
	}
	._24_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 265px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_25_b {
		fill: rgba(250,247,237,1);
	}
	._25_b {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 293px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#_26_ca {
		fill: rgba(250,247,237,1);
	}
	._26_ca {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 321px;
		top: 6px;
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
	}
	#w644_1 {
		position: relative;
		top: -12px;
		width: 97.314px;
		height: 35.54px;
		margin: 0 auto;
	}
	.w644_1 {
	    position: relative;
		width: 97.314px;
		height: 35.54px;
		filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.161));
	}
	#Face_Scanning {
		position: relative;
		top: -17px;
		width: 190px;
		height: 275px;
		margin: 0 auto;
	}
	.Face_Scanning {
	    position: relative;
	    white-space: nowrap;
		text-align: center;
		font-family: Cochin;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(132,86,42,1);
	}
	#image {
	    position: relative;
	    max-width: 190px;
	    max-height: 190px;
	}
	#photo {
	    position: relative;
	    width: 190px;
	    margin: 5px 0;
	    font-size: 18px;
	}

    /* -- next_btn -- */
	#next {
	    position: relative;
	    width: 348px;
	    height: 115px;
	    margin: 10px auto;
	}
	#_3 {
		position: relative;
		float: right;
		width: 110px;
		height: 113px;
	}
    #next_btn {
        position: relative;
        top: 21px;
        width: 58px;
        height: 85px;
        margin: 0 auto;
    }
    #_27 {
	    position: relative;
	    width: 58px;
	    height: 58px;
	    padding: 0;
	    border: none;
	    border-radius: 50%;
	    background: rgba(174,202,217,1);
	    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	}
	#_10 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._10 {
		position: absolute;
		top: 20px;
        left: 15px;
		width: 30.915px;
		height: 15.458px;
		transform: rotate(-90deg);
	}

	#_cd {
		position: relative;
		width: 24px;
		margin: 0 auto;
		white-space: nowrap;
		text-align: center;
		font-family: Wingdings;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(75,106,124,1);
	}
