	.mediaViewInfo {
		--web-view-name: 新增日記2;
		--web-view-id: ID2__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: ID2__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ID2__1 {
		position: absolute;
		width: 100%;
		height: 926px;
		background-color: rgba(250,247,237,1);
		overflow: hidden;
		--web-view-name: 新增日記2;
		--web-view-id: ID2__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#_34 {
		position: absolute;
		width: 988px;
		height: 998px;
		left: -82px;
		top: -72px;
		overflow: visible;
	}
	#_ {
		left: 145px;
		top: 139px;
		position: absolute;
		overflow: visible;
		width: 301px;
		white-space: nowrap;
		line-height: 50px;
		margin-top: -10px;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(132,86,42,1);
	}
	#_2 {
		position: absolute;
		width: 988px;
		height: 998px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_abc{
		position: absolute;
		width: 348px;
		height: 569px;
		left: 39px;
		top: 202px;
		overflow: visible;
	}
	#_101 {
		fill: rgba(255,255,255,1);
	}
	._101 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 366px;
		height: 587px;
		left: 40px;
		top: 200px;
	}
	#_15 {
		fill: rgba(250,247,237,1);
	}
	._15 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 13px;
		top: 5px;
	}
	#_16 {
		fill: rgba(250,247,237,1);
	}
	._16 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 41px;
		top: 5px;
	}
	#_17 {
		fill: rgba(250,247,237,1);
	}
	._17 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 69px;
		top: 5px;
	}
	#_18 {
		fill: rgba(250,247,237,1);
	}
	._18 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 97px;
		top: 5px;
	}
	#_19 {
		fill: rgba(250,247,237,1);
	}
	._19 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 125px;
		top: 5px;
	}
	#_20 {
		fill: rgba(250,247,237,1);
	}
	._20 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 153px;
		top: 5px;
	}
	#_21 {
		fill: rgba(250,247,237,1);
	}
	._21 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 181px;
		top: 5px;
	}
	#_22 {
		fill: rgba(250,247,237,1);
	}
	._22 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 209px;
		top: 5px;
	}
	#_23 {
		fill: rgba(250,247,237,1);
	}
	._23 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 237px;
		top: 5px;
	}
	#_24 {
		fill: rgba(250,247,237,1);
	}
	._24 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 265px;
		top: 5px;
	}
	#_25 {
		fill: rgba(250,247,237,1);
	}
	._25 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 293px;
		top: 5px;
	}
	#_26 {
		fill: rgba(250,247,237,1);
	}
	._26 {
		filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 321px;
		top: 5px;
	}
	#_bj {
		position: absolute;
		width: 315px;
		height: 475px;
		left: 56px;
		top: 255px;
		overflow: visible;
	}
	#_bk {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_bl {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#shopping-bag {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_bn {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 85px;
		top: 1px;
		overflow: visible;
	}
	#fast-food {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_bp {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_bq {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 170px;
		top: 1px;
		overflow: visible;
	}
	#friends {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_bs {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_bt {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 0px;
		top: 129px;
		overflow: visible;
	}
	#sport {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_bv {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_bw {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 85px;
		top: 129px;
		overflow: visible;
	}
	#favourite {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_by {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_bz {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 255px;
		top: 1px;
		overflow: visible;
	}
	#joystick {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_b {
		left: 0px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_ca {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 0px;
		top: 258px;
		overflow: visible;
	}
	#briefcase {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_cb {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_cc {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 170px;
		top: 129px;
		overflow: visible;
	}
	#broom {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_cd {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_ce {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 255px;
		top: 129px;
		overflow: visible;
	}
	#luggage {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_cf {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_cg {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 170px;
		top: 257px;
		overflow: visible;
	}
	#confetti {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_ch {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_ci {
		position: absolute;
		width: 60px;
		height: 80px;
		left: 85px;
		top: 264px;
		overflow: visible;
	}
	#relaxing {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_cj {
		left: 10px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_ck {
		position: absolute;
		width: 60px;
		height: 86px;
		left: 255px;
		top: 257px;
		overflow: visible;
	}
	#open-book {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_cl {
		left: 10px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_cm {
		position: absolute;
		width: 60px;
		height: 87px;
		left: 0px;
		top: 386px;
		overflow: visible;
	}
	#video-player {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_cn {
		left: 0px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#_co {
		position: absolute;
		width: 60px;
		height: 83px;
		left: 85px;
		top: 392px;
		overflow: visible;
	}
	#_cp {
		left: 10px;
		top: 56px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#add {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_27 {
		fill: rgba(174,202,217,1);
	}
	._27 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 76px;
		height: 76px;
		left: 184px;
		top: 836px;
	}
	#_cr {
		left: 200px;
		top: 899px;
		position: absolute;
		overflow: visible;
		width: 11px;
		white-space: nowrap;
		text-align: center;
		font-family: Wingdings;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(75,106,124,1);
	}
	#_10 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._10 {
		overflow: visible;
		position: absolute;
		width: 30.915px;
		height: 15.458px;
		transform: matrix(1,0,0,1,197.5425,860.2712) rotate(-90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: 新增日記3.html;
		cursor: pointer;
	}
	#ID051-joy {
		position: absolute;
		width: 46px;
		height: 46px;
		left: 340px;
		top: 61px;
		overflow: visible;
	}
	#_3 {
		position: absolute;
		width: 109.332px;
		height: 112.84px;
		left: 318.669px;
		top: 827.038px;
		overflow: visible;
	}
	#w644_1 {
		filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 129px;
		height: 45.134px;
		left: 149.5px;
		top: 179.433px;
		overflow: visible;
	}
