{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addDiary1.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
	<form id="diaryForm" method="post" action="{% url 'EmotionDiary:addDiary2' %}" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ID2">
			<!-- userid -->
			{{ form.line_id }}
			<!-- 日期&時間 -->
			<div id="date"></div>
			<div id="time"></div>
			{{ form.date }}
			<div id="line_9">
				<svg id="line">
					<path class="line" d="M 0 0 L 188.712890625 0 L 295 0">
					</path>
				</svg>
			</div>

			<!-- mood -->
			<div id="emoji">
				{{ form.mood }}
				<div id="area_1">
					<!-- 洞洞 -->
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
				</div>
				<img id="w644" src="{% static 'images/decoration/w644.png' %}" srcset="{% static 'images/decoration/w644.png' %} 1x, {% static 'images/decoration/w644@2x.png' %} 2x">
				<div id="emoji_text">
					<span>今天心情如何呢？</span>
				</div>

				<div id="_33">
					<div id="joy">
						<button id="joy_btn" name="emoji_btn" type="button" class="btn1" value="5">
							<img id="ID051-joy" class="mood_btn" src="{% static 'images/moods/ID051-joy.png' %}" srcset="{% static 'images/moods/ID051-joy.png' %} 1x, {% static 'images/moods/ID051-joy@2x.png' %} 2x">
						</button>
						<div id="joy_text" class="mood_text">超開心</div>
					</div>

					<div id="neutral">
						<button id="neutral_btn" name="emoji_btn" type="button" class="btn1" value="3">
							<img id="ID051-neutral" class="mood_btn" src="{% static 'images/moods/ID051-neutral.png' %}" srcset="{% static 'images/moods/ID051-neutral.png' %} 1x, {% static 'images/moods/ID051-neutral@2x.png' %} 2x">
						</button>
						<div id="neutral_text" class="mood_text">普通</div>
					</div>

					<div id="happy">
						<button id="happy_btn" name="emoji_btn" type="button" class="btn1" value="4">
							<img id="ID051-happy" class="mood_btn" src="{% static 'images/moods/ID051-happy.png' %}" srcset="{% static 'images/moods/ID051-happy.png' %} 1x, {% static 'images/moods/ID051-happy@2x.png' %} 2x">
						</button>
						<div id="happy_text" class="mood_text">開心</div>
					</div>

					<div id="sad">
						<button id="sad_btn" name="emoji_btn" type="button" class="btn1" value="2">
							<img id="ID051-sad" class="mood_btn" src="{% static 'images/moods/ID051-sad.png' %}" srcset="{% static 'images/moods/ID051-sad.png' %} 1x, {% static 'images/moods/ID051-sad@2x.png' %} 2x" style="padding: 2px;">
						</button>
						<div id="sad_text" class="mood_text">難過</div>
					</div>

					<div id="cry">
						<button id="cry_btn" name="emoji_btn" type="button" class="btn1" value="1">
							<img id="ID051-cry" class="mood_btn" src="{% static 'images/moods/ID051-cry.png'%}" srcset="{% static 'images/moods/ID051-cry.png' %} 1x, {% static 'images/moods/ID051-cry@2x.png' %} 2x" style="padding: 2px">
						</button>
						<div id="cry_text" class="mood_text">超難過</div>
					</div>
				</div>
			</div>

			<div id="_bx">
				<div id="area_2">
					<!-- 洞洞 -->
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
				</div>
				<div id="w644_1">
					<img class="w644_1" src="{% static 'images/decoration/w644_1.png' %}" srcset="{% static 'images/decoration/w644_1.png' %} 1x, {% static 'images/decoration/w644_1@2x.png' %} 2x">
				</div>
				<div id="Face_Scanning">
					<span class="Face_Scanning">Face Scanning</span>
					<!-- input pic -->
					<img id="image" src="{% static 'images/decoration/photo-camera.png' %}">
					{{ form.pic }}
				</div>
			</div>

			<div id="next">
				<img id="_3" src="{% static 'images/decoration/_3.png' %}" srcset="{% static 'images/decoration/_3.png' %} 1x, {% static 'images/decoration/_3@2x.png' %} 2x">
				<div id="next_btn">
					<input id="_27" type="button" onclick="check(this);">
					<svg class="_10" viewBox="0 0 30.915 15.458">
						<path id="_10" d="M 30.9150390625 0 L 15.45751953125 15.45751953125 L 0 0">
						</path>
					</svg>
					<div id="next_text">
						<span>繼續</span>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/addDiary1.js' %}"></script>
	<script src='//code.jquery.com/jquery-2.1.4.min.js'></script>
{% endblock %}
