{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/addDiary3.css' %}">
{% endblock %}

{% block body %}
	<form id="addDiaryForm" action="{% url 'EmotionDiary:menuDiary' pk=thing_form.line_id %}" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ID2">
			{{ thing_form.line_id }}
			{{ thing_form.date }}
			<img  id="background_img" src="{% static 'images/decoration/_2.png' %}" srcset="{% static 'images/decoration/_2.png' %} 1x, {% static 'images/decoration/_2@2x.png' %} 2x">

			<!-- banner -->
			<div id="banner">
				<!-- banner_text -->
				<div id="banner_text">今天想說什麼呢？</div>

				<!--完成-->
				<div id="finish_area">
					<button id="finish_button" onclick="check(this);">
						<span id="finish_text">完成</span>
					</button>
				</div>

				<!-- 郵戳 -->
				<img id="_dg" src="{% static 'images/decoration/_dg.png' %}" srcset="{% static 'images/decoration/_dg.png' %} 1x, {% static 'images/decoration/_dg@2x.png' %} 2x">



			</div>

			<!-- 備註 -->
			<div id="text_msg">
				<textarea class="text_msg" placeholder="開心寫 隨便寫"></textarea>
			</div>

			<!-- 所選取做的事 -->
			<div id="list">
				{% for user_thing in thing_list %}
				<div id="msg">
					<div id="msg_thing">
					{% for dt in default_thing %}
						{% if dt.things_id == user_thing %}
							<div id="msg_img">
								<img class="msg_img" src="{{ MEDIA_URL }}{{ dt.things_img }}">
							</div>
							<input id="test" type="text" disabled>
							<div id="msg_text">{{ dt.things }}</div>
						{% endif %}
					{% endfor %}
					</div>

					<div id="msg_btn">
					{% for dn in default_note %}
						{% if dn.things_id == user_thing %}
							<button id="{{ dn.note_id }}" name="default_btn" type="button" class="btn1" onclick="thingSelect(this);">{{ dn.default_note }}</button>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/addDiary3.js' %}"></script>
{% endblock %}
