{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/Diary/addDiary3.css' %}">
{% endblock %}

{% block body %}
<div id="ID2__2">
	<img  id="_2" src="{% static 'images/Diary/Add_2.png' %}" srcset="{% static 'images/Diary/Add_2.png' %} 1x, {% static 'images/Diary/Add_2@2x.png' %} 2x">
		
	<div id="msg">
		<svg class="_">
			<rect id="_" rx="0" ry="0" x="0" y="0" width="428" height="933">
			</rect>
		</svg>
		<div id="_ba">
			<svg class="_8">
				<ellipse id="_8" rx="35.5" ry="35.5" cx="35.5" cy="35.5">
				</ellipse>
			</svg>
			<img id="shopping-bag" src="{% static 'images/Diary/Add/shopping-bag.png' %}" srcset="{% static 'images/Diary/Add/shopping-bag.png' %} 1x, {% static 'images/Diary/Add/shopping-bag@2x.png' %} 2x">
				
			<div id="_bb">
				<span>購物</span>
			</div>
			<div id="_13">
				<svg class="_11" viewBox="0 0 126 31">
					<path id="_11" d="M 15.5 0 L 110.5 0 C 119.060417175293 0 126 6.93958568572998 126 15.5 C 126 24.0604133605957 119.060417175293 31 110.5 31 L 15.5 31 C 6.93958568572998 31 0 24.0604133605957 0 15.5 C 0 6.93958568572998 6.93958568572998 0 15.5 0 Z">
					</path>
				</svg>
				<div id="_bc">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_16">
				<svg class="_74">
					<rect id="_74" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_be">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_35">
				<svg class="_74_bg">
					<rect id="_74_bg" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_bh">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_36">
				<svg class="_74_bj">
					<rect id="_74_bj" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_bk">
					<span>買到我想買的東西</span>
				</div>
			</div>
		</div>
		<div id="_bl">
			<svg class="_14">
				<ellipse id="_14" rx="35.5" ry="35.5" cx="35.5" cy="35.5">
				</ellipse>
			</svg>
			<img id="fast-food" src="{% static 'images/Diary/Add/fast-food.png' %}" srcset="{% static 'images/Diary/Add/fast-food.png' %} 1x, {% static 'images/Diary/Add/fast-food@2x.png' %} 2x">
				
			<div id="_bo">
				<span>美食</span>
			</div>
			<div id="_37">
				<svg class="_11_bq" viewBox="0 0 126 31">
					<path id="_11_bq" d="M 15.5 0 L 110.5 0 C 119.060417175293 0 126 6.93958568572998 126 15.5 C 126 24.0604133605957 119.060417175293 31 110.5 31 L 15.5 31 C 6.93958568572998 31 0 24.0604133605957 0 15.5 C 0 6.93958568572998 6.93958568572998 0 15.5 0 Z">
					</path>
				</svg>
				<div id="_br">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_38">
				<svg class="_74_bt">
					<rect id="_74_bt" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_bu">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_39">
				<svg class="_74_bw">
					<rect id="_74_bw" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_bx">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_40">
				<svg class="_74_bz">
					<rect id="_74_bz" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_b">
					<span>買到我想買的東西</span>
				</div>
			</div>
		</div>
		<div id="_ca">
			<svg class="_13_b">
				<ellipse id="_13_b" rx="35.5" ry="35.5" cx="35.5" cy="35.5">
				</ellipse>
			</svg>
			<img id="sport" src="{% static 'images/Diary/Add/sport.png' %}" srcset="{% static 'images/Diary/Add/sport.png' %} 1x, {% static 'images/Diary/Add/sport@2x.png' %} 2x">
				
			<div id="_cb">
				<span>運動</span>
			</div>
			<div id="_41">
				<svg class="_11_b" viewBox="0 0 126 31">
					<path id="_11_b" d="M 15.5 0 L 110.5 0 C 119.060417175293 0 126 6.93958568572998 126 15.5 C 126 24.0604133605957 119.060417175293 31 110.5 31 L 15.5 31 C 6.93958568572998 31 0 24.0604133605957 0 15.5 C 0 6.93958568572998 6.93958568572998 0 15.5 0 Z">
					</path>
				</svg>
				<div id="_cc">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_42">
				<svg class="_74_b">
					<rect id="_74_b" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_cd">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_43">
				<svg class="_74_cc">
					<rect id="_74_cc" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_ce">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_44">
				<svg class="_74_cf">
					<rect id="_74_cf" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_cg">
					<span>買到我想買的東西</span>
				</div>
			</div>
		</div>
		<div id="_ch">
			<svg class="_12">
				<ellipse id="_12" rx="35.5" ry="35.5" cx="35.5" cy="35.5">
				</ellipse>
			</svg>
			<div id="_45">
				<svg class="_11_ck" viewBox="0 0 126 31">
					<path id="_11_ck" d="M 15.5 0 L 110.5 0 C 119.060417175293 0 126 6.93958568572998 126 15.5 C 126 24.0604133605957 119.060417175293 31 110.5 31 L 15.5 31 C 6.93958568572998 31 0 24.0604133605957 0 15.5 C 0 6.93958568572998 6.93958568572998 0 15.5 0 Z">
					</path>
				</svg>
				<div id="_cl">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_46">
				<svg class="_74_cn">
					<rect id="_74_cn" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_co">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_47">
				<svg class="_74_cq">
					<rect id="_74_cq" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_cr">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_48">
				<svg class="_74_ct">
					<rect id="_74_ct" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_cu">
					<span>買到我想買的東西</span>
				</div>
			</div>
		</div>
		<div id="_cv">
			<svg class="_12_cw">
				<ellipse id="_12_cw" rx="35.5" ry="35.5" cx="35.5" cy="35.5">
				</ellipse>
			</svg>
			<div id="_45_cx">
				<svg class="_11_cy" viewBox="0 0 126 31">
					<path id="_11_cy" d="M 15.5 0 L 110.5 0 C 119.060417175293 0 126 6.93958568572998 126 15.5 C 126 24.0604133605957 119.060417175293 31 110.5 31 L 15.5 31 C 6.93958568572998 31 0 24.0604133605957 0 15.5 C 0 6.93958568572998 6.93958568572998 0 15.5 0 Z">
					</path>
				</svg>
				<div id="_cz">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_46_c">
				<svg class="_74_c">
					<rect id="_74_c" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_c">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_47_c">
				<svg class="_74_da">
					<rect id="_74_da" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_da">
					<span>買到我想買的東西</span>
				</div>
			</div>
			<div id="_48_c">
				<svg class="_74_db">
					<rect id="_74_db" rx="15.5" ry="15.5" x="0" y="0" width="126" height="31">
					</rect>
				</svg>
				<div id="_db">
					<span>買到我想買的東西</span>
				</div>
			</div>
		</div>
	</div>
	<!--備註-->
	<textarea class="text_msg" id="text_msg" width="408" height="356"></textarea>
	<div id="_34">
		<div id="_dc">
			<span>今天想說什麼呢？</span>
		</div>
	</div>
	<!--完成-->
	<div id="finish_area">
		<button  id="finish_button" onclick="window.close();">
			<span id="finish">完成</span>
		</button>
	</div>
	<!--郵戳-->
	<img id="_dg" src="{% static 'images/Diary/Add/_dg.png' %}" srcset="{% static 'images/Diary/Add/_dg.png' %} 1x, {% static 'images/Diary/Add/_dg@2x.png' %} 2x">
</div>
{% endblock %}

{% block js %}
	<script src="{% static 'js/Diary/addDiary3.js' %}"></script>
{% endblock %}
