{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/Diary/addDiary2.css' %}">
{% endblock %}

{% block body %}
<div id="ID2__1">
	<div id="_34">
		<div id="_">
			<span>你今天的心情超開心！<br/>那今天做了什麼呢？</span>
		</div>
		<img id="_2" src="{% static 'images/Diary/Add/_2.png' %}" srcset="{% static 'images/Diary/Add/_2.png' %} 1x, {% static 'images/Diary/Add/_2@2x.png' %} 2x">
			
	</div>
	<!--裝飾-->
	<div id="_abc">
		<svg class="_101">
			<rect id="_101" rx="1" ry="1" x="0" y="0" width="348" height="569">
			</rect>
		</svg>
		<svg class="_15">
			<ellipse id="_15" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_16">
			<ellipse id="_16" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_17">
			<ellipse id="_17" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_18">
			<ellipse id="_18" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_19">
			<ellipse id="_19" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_20">
			<ellipse id="_20" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_21">
			<ellipse id="_21" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_22">
			<ellipse id="_22" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_23">
			<ellipse id="_23" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_24">
			<ellipse id="_24" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_25">
			<ellipse id="_25" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_26">
			<ellipse id="_26" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
	</div>
	<!--按鈕-->
	<div id="_bj">
		<div id="_bk">
			<div id="_bl">
				<span>購物</span>
			</div>
			<img id="shopping-bag" src="{% static 'images/Diary/Add/shopping-bag.png' %}" srcset="{% static 'images/Diary/Add/shopping-bag.png' %} 1x, {% static 'images/Diary/Add/shopping-bag@2x.png' %} 2x">
				
		</div>
		<div id="_bn">
			<img id="fast-food" src="{% static 'images/Diary/Add/fast-food.png' %}" srcset="{% static 'images/Diary/Add/fast-food.png' %} 1x, {% static 'images/Diary/Add/fast-food@2x.png' %} 2x">
				
			<div id="_bp">
				<span>美食</span>
			</div>
		</div>
		<div id="_bq">
			<img id="friends" src="{% static 'images/Diary/Add/friends.png' %}" srcset="{% static 'images/Diary/Add/friends.png' %} 1x, {% static 'images/Diary/Add/friends@2x.png' %} 2x">
				
			<div id="_bs">
				<span>朋友</span>
			</div>
		</div>
		<div id="_bt">
			<img id="sport" src="{% static 'images/Diary/Add/sport.png' %}" srcset="{% static 'images/Diary/Add/sport.png' %} 1x, {% static 'images/Diary/Add/sport@2x.png' %} 2x">
				
			<div id="_bv">
				<span>運動</span>
			</div>
		</div>
		<div id="_bw">
			<img id="favourite" src="{% static 'images/Diary/Add/favourite.png' %}" srcset="{% static 'images/Diary/Add/favourite.png' %} 1x, {% static 'images/Diary/Add/favourite@2x.png' %} 2x">
				
			<div id="_by">
				<span>約會</span>
			</div>
		</div>
		<div id="_bz">
			<img id="joystick" src="{% static 'images/Diary/Add/joystick.png' %}" srcset="{% static 'images/Diary/Add/joystick.png' %} 1x, {% static 'images/Diary/Add/joystick@2x.png' %} 2x">
				
			<div id="_b">
				<span>玩遊戲</span>
			</div>
		</div>
		<div id="_ca">
			<img id="briefcase" src="{% static 'images/Diary/Add/briefcase.png' %}" srcset="{% static 'images/Diary/Add/briefcase.png' %} 1x, {% static 'images/Diary/Add/briefcase@2x.png' %} 2x">
				
			<div id="_cb">
				<span>工作</span>
			</div>
		</div>
		<div id="_cc">
			<img id="broom" src="{% static 'images/Diary/Add/broom.png' %}" srcset="{% static 'images/Diary/Add/broom.png' %} 1x, {% static 'images/Diary/Add/broom@2x.png' %} 2x">
				
			<div id="_cd">
				<span>清潔</span>
			</div>
		</div>
		<div id="_ce">
			<img id="luggage" src="{% static 'images/Diary/Add/luggage.png' %}" srcset="{% static 'images/Diary/Add/luggage.png' %} 1x, {% static 'images/Diary/Add/luggage@2x.png' %} 2x">
				
			<div id="_cf">
				<span>旅行</span>
			</div>
		</div>
		<div id="_cg">
			<img id="confetti" src="{% static 'images/Diary/Add/confetti.png' %}" srcset="{% static 'images/Diary/Add/confetti.png' %} 1x, {% static 'images/Diary/Add/confetti@2x.png' %} 2x">
				
			<div id="_ch">
				<span>派對</span>
			</div>
		</div>
		<div id="_ci">
			<img id="relaxing" src="{% static 'images/Diary/Add/relaxing.png' %}" srcset="{% static 'images/Diary/Add/relaxing.png' %} 1x, {% static 'images/Diary/Add/relaxing@2x.png' %} 2x">
				
			<div id="_cj">
				<span>放鬆</span>
			</div>
		</div>
		<div id="_ck">
			<img id="open-book" src="{% static 'images/Diary/Add/open-book.png' %}" srcset="{% static 'images/Diary/Add/open-book.png' %} 1x, {% static 'images/Diary/Add/open-book@2x.png' %} 2x">
				
			<div id="_cl">
				<span>閱讀</span>
			</div>
		</div>
		<div id="_cm">
			<img id="video-player" src="{% static 'images/Diary/Add/video-player.png' %}" srcset="{% static 'images/Diary/Add/video-player.png' %} 1x, {% static 'images/Diary/Add/video-player@2x.png' %} 2x">
				
			<div id="_cn">
				<span>看電影</span>
			</div>
		</div>
		<div id="_co">
			<div id="_cp">
				<span>其他</span>
			</div>
			<img id="add" src="{% static 'images/Diary/Add/add.png' %}" srcset="{% static 'images/Diary/Add/add.png' %} 1x, {% static 'images/Diary/Add/add@2x.png' %} 2x">
				
		</div>
	</div>
	<svg class="_27">
		<a href="{% url 'EmotionDiary:addDiary3' %}">
			<ellipse id="_27" rx="29" ry="29" cx="29" cy="29">
			</ellipse>
		</a>
	</svg>
	<div id="_cr">
		<span>繼續</span>
	</div>
	<svg class="_10" viewBox="0 0 30.915 15.458">
		<path id="_10" d="M 30.9150390625 0 L 15.45751953125 15.45751953125 L 0 0">
		</path>
	</svg>
	<img id="ID051-joy" src="{% static 'images/Diary/Add/ID051-joy.png' %}" srcset="{% static 'images/Diary/Add/ID051-joy.png' %} 1x, {% static 'images/Diary/Add/ID051-joy@2x.png' %} 2x">
		
	<img id="_3" src="{% static 'images/Diary/Add/_3.png' %}" srcset="{% static 'images/Diary/Add/_3.png' %} 1x, {% static 'images/Diary/Add/_3@2x.png' %} 2x">
		
	<img id="w644_1" src="{% static 'images/Diary/Add/w644_1.png' %}" srcset="{% static 'images/Diary/Add/644_1.png' %} 1x, {% static 'images/Diary/Add/w644_1@2x.png' %} 2x">
</div>
{% endblock %}

{% block js %}
	<script src="{% static 'js/Diary/addDiary2.js' %}"></script>
{% endblock %}
