{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Diary/addDiary1.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
	<form id="diaryForm" action="" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ID2">
			<!-- userid -->
			{{ form.line_id }}
			<!-- 日期&時間 -->
			<div id="date"></div>
			<div id="time"></div>
			{{ form.date }}
			<div id="line_9">
				<svg id="_9">
					<path class="_9" d="M 0 0 L 188.712890625 0 L 295 0">
					</path>
				</svg>
			</div>

			<!-- mood -->
			<div id="emoji">
				{{ form.mood }}
				<div id="_area">
					<!-- 底圖 -->
					<svg class="_101">
						<rect id="_101" rx="1" ry="1" x="0" y="0" width="348" height="315">
						</rect>
					</svg>
					<!-- 洞洞 -->
					<svg class="_15">
						<ellipse id="_15" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_16">
						<ellipse id="_16" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_17">
						<ellipse id="_17" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_18">
						<ellipse id="_18" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_19">
						<ellipse id="_19" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_20">
						<ellipse id="_20" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_21">
						<ellipse id="_21" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_22">
						<ellipse id="_22" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_23">
						<ellipse id="_23" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_24">
						<ellipse id="_24" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_25">
						<ellipse id="_25" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
					<svg class="_26">
						<ellipse id="_26" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
						</ellipse>
					</svg>
				</div>
				<div id="emoji_text">
					<span>今天心情如何呢？</span>
				</div>

				<img id="w644" src="{% static 'images/Diary/Add/w644.png' %}" srcset="{% static 'images/Diary/Add/w644.png' %} 1x, {% static 'images/Diary/Add/w644@2x.png' %} 2x">

				<div id="_33">

					<div id="joy">
						<button id="joy_btn" name="emoji_btn" type="button" class="btn1" value="5">
							<img id="ID051-joy" src="{% static 'images/Diary/Add/ID051-joy.png' %}" srcset="{% static 'images/Diary/Add/ID051-joy.png' %} 1x, {% static 'images/Diary/Add/ID051-joy@2x.png' %} 2x" style="padding: 2px;">
						</button>
						<div id="joy_text">
							<span>超開心</span>
						</div>
					</div>

					<div id="neutral">
						<button id="neutral_btn" name="emoji_btn" type="button" class="btn1" value="3">
							<img id="ID051-neutral" src="{% static 'images/Diary/Add/ID051-neutral.png' %}" srcset="{% static 'images/Diary/Add/ID051-neutral.png' %} 1x, {% static 'images/Diary/Add/ID051-neutral@2x.png' %} 2x" style="padding: 2px;">
						</button>
						<div id="neutral_text">
							<span>普通</span>
						</div>
					</div>

					<div id="happy">
						<button id="happy_btn" name="emoji_btn" type="button" class="btn1" value="4">
							<img id="ID051-happy" src="{% static 'images/Diary/Add/ID051-happy.png' %}" srcset="{% static 'images/Diary/Add/ID051-happy.png' %} 1x, {% static 'images/Diary/Add/ID051-happy@2x.png' %} 2x" style="padding: 2px;">
						</button>
						<div id="happy_text">
							<span>開心</span>
						</div>
					</div>

					<div id="sad">
						<button id="sad_btn" name="emoji_btn" type="button" class="btn1" value="2">
							<img id="ID051-sad-1" src="{% static 'images/Diary/Add/ID051-sad-1.png' %}" srcset="{% static 'images/Diary/Add/ID051-sad-1.png' %} 1x, {% static 'images/Diary/Add/ID051-sad-1@2x.png' %} 2x" style="padding: 2px;">
						</button>
						<div id="sad_text">
							<span>難過</span>
						</div>
					</div>

					<div id="cry">
						<button id="cry_btn" name="emoji_btn" type="button" class="btn1" value="1">
							<img id="ID051-cry" src="{% static 'images/Diary/Add/ID051-cry.png'%}" srcset="{% static 'images/Diary/Add/ID051-cry.png' %} 1x, {% static 'images/Diary/Add/ID051-cry@2x.png' %} 2x" style="padding: 2px">
						</button>
						<div id="cry_text">
							<span>超難過</span>
						</div>
					</div>


				</div>
			</div>
			<div id="_bx">
				<svg class="_101_by">
					<rect id="_101_by" rx="1" ry="1" x="0" y="0" width="348" height="300">
					</rect>
				</svg>
				<svg class="_15_bz">
					<ellipse id="_15_bz" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_16_b">
					<ellipse id="_16_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_17_b">
					<ellipse id="_17_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_18_b">
					<ellipse id="_18_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_19_b">
					<ellipse id="_19_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_20_b">
					<ellipse id="_20_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_21_b">
					<ellipse id="_21_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_22_b">
					<ellipse id="_22_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_23_b">
					<ellipse id="_23_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_24_b">
					<ellipse id="_24_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_25_b">
					<ellipse id="_25_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<svg class="_26_ca">
					<ellipse id="_26_ca" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
					</ellipse>
				</svg>
				<div id="w644_1">
					<img class="w644_1" src="{% static 'images/Diary/Add/w644_1.png' %}" srcset="{% static 'images/Diary/Add/w644_1.png' %} 1x, {% static 'images/Diary/Add/w644_1@2x.png' %} 2x">
				</div>
				<div id="Face_Scanning">
					<span class="Face_Scanning">Face Scanning</span>
					<!-- input pic -->
					<img id="image" src="{% static 'images/Diary/Add/photo-camera.png' %}">
					{{ form.pic }}
				</div>
			</div>
			<div id="next">
				<img id="_3" src="{% static 'images/Diary/Add/_3.png' %}" srcset="{% static 'images/Diary/Add/_3.png' %} 1x, {% static 'images/Diary/Add/_3@2x.png' %} 2x">
				<div id="next_btn">
						<input id="_27" type="button" onclick="check(this);">
						<svg class="_10" viewBox="0 0 30.915 15.458">
							<path id="_10" d="M 30.9150390625 0 L 15.45751953125 15.45751953125 L 0 0">
							</path>
						</svg>
						<div id="_cd">
							<span>繼續</span>
						</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/Diary/addDiary1.js' %}"></script>
	<script src='//code.jquery.com/jquery-2.1.4.min.js'></script>


	<script type="text/javascript">
		// 設定時間
		function ShowTime(){
			today = new Date();
			var year = today.getFullYear();
			var month = today.getMonth()+1;
			var day = today.getDate();
			var monthString = ( month < 10)? ('0'+ month) : ('' + month);
			var dayString = ( day < 10)? ('0'+ day) : ('' + day);
			var hour = today.getHours();
			var minute = today.getMinutes();
			var second = today.getSeconds();
			var hourString = ( hour < 10)? ('0'+ hour) : ('' + hour);
  			var minString = ( minute < 10)? ('0'+ minute) : ('' + minute);
  			var secString = ( second < 10)? ('0'+ second) : ('' + second);
  			var date = year + '/' + monthString + '/' + dayString;
  			var time = hourString + ':' + minString + ':' + secString;
			document.getElementById('date').innerText = date;
		　	document.getElementById('time').innerText = time;
		　	document.getElementById('diary_date').value = date;
		}
		window.setInterval('ShowTime()',1000);

		// 上傳照片 & 預覽照片
		$('#photo').change(function () {
			var file = this.files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				$('#photo')[0].src = this.result;
			}
		});
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#image').attr('src', e.target.result);
              $('#photo').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }

		// 是否都填寫完成
        function check(){
            var form = document.getElementById('diaryForm');
			var mood = document.getElementById('mood').value;
			if(mood == ''){
				swal("請選擇表情", "", "error");
			}else{
				form.submit();
				window.location.href='../addDiary2/'
			}
        }
    </script>
{% endblock %}
