{% extends 'layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addDiary2.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
	<form id="diaryForm2" method="post" action="{% url 'EmotionDiary:addDiary3' id=diary_id %}" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ID2">
			{{ thing_form.line_id }}
			{{ thing_form.date }}
			{{ thing_form.chooseThing }}
			<!-- banner -->
			<div id="banner">
				<div id="banner_text">
					<span>你今天的心情超開心<br/>那今天做了什麼呢？</span>
				</div>
				<img id="ID051-joy" src="{% static 'images/moods/ID051-joy.png' %}" srcset="{% static 'images/moods/ID051-joy.png' %} 1x, {% static 'images/moods/ID051-joy@2x.png' %} 2x">
			</div>

			<!-- 裝飾 -->
			<div id="decoration">
				<div id="area">
					<!-- 洞洞 -->
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
					<svg class="dot"><ellipse class="dot_dot" rx="7.5" ry="7.5" cx="7.5" cy="7.5"></ellipse></svg>
				</div>
				<div id="w644_1">
					<img class="w644_1" src="{% static 'images/decoration/w644_1.png' %}" srcset="{% static 'images/decoration/w644_1.png' %} 1x, {% static 'images/decoration/w644_1@2x.png' %} 2x">
				</div>

				<!-- 按鈕 -->
				<div id="thing">
					{{ thing_form.things_id }}
					<div id="row1">
						<!-- shopping -->
						<div id="shopping">
							<button id="shopping_btn" type="button" name="thing_btn" class="btn1" value="T001">
								<img class="thing_img" src="{% static 'images/things/shopping-bag.png' %}" srcset="{% static 'images/things/shopping-bag.png' %} 1x, {% static 'images/things/shopping-bag@2x.png' %} 2x">
							</button>
							<div class="thing_text">購物</div>
						</div>

						<!-- eat -->
						<div id="eat">
							<button id="eat_btn" type="button" name="thing_btn" class="btn1" value="T002">
								<img class="thing_img" src="{% static 'images/things/fast-food.png' %}" srcset="{% static 'images/things/fast-food.png' %} 1x, {% static 'images/things/fast-food@2x.png' %} 2x">
							</button>
								<div class="thing_text">美食</div>
						</div>

						<!-- friends -->
						<div id="friend">
							<button id="friend_btn" type="button" name="thing_btn" class="btn1" value="T003">
								<img src="{% static 'images/things/friends.png' %}" srcset="{% static 'images/things/friends.png' %} 1x, {% static 'images/things/friends@2x.png' %} 2x">
							</button>
							<div class="thing_text">朋友</div>
						</div>

						<!-- game -->
						<div id="game">
							<button id="game_btn" type="button" name="thing_btn" class="btn1" value="T004">
								<img class="thing_img" src="{% static 'images/things/joystick.png' %}" srcset="{% static 'images/things/joystick.png' %} 1x, {% static 'images/things/joystick@2x.png' %} 2x">
							</button>
							<div class="thing_text">玩遊戲</div>
						</div>
					</div>

					<div id="row2">
						<!-- sport -->
						<div id="sport">
							<button id="sport_btn" type="button" name="thing_btn" class="btn1" value="T005">
								<img class="thing_img" src="{% static 'images/things/sport.png' %}" srcset="{% static 'images/things/sport.png' %} 1x, {% static 'images/things/sport@2x.png' %} 2x">
							</button>
							<div class="thing_text">運動</div>
						</div>

						<!-- favourite -->
						<div id="favourite">
							<button id="favourite_btn" type="button" name="thing_btn" class="btn1" value="T006">
								<img class="thing_img" src="{% static 'images/things/favourite.png' %}" srcset="{% static 'images/things/favourite.png' %} 1x, {% static 'images/things/favourite@2x.png' %} 2x">
							</button>
							<div class="thing_text">約會</div>
						</div>

						<!-- clean -->
						<div id="clean">
							<button id="clean_btn" type="button" name="thing_btn" class="btn1" value="T007">
								<img class="thing_img" src="{% static 'images/things/broom.png' %}" srcset="{% static 'images/things/broom.png' %} 1x, {% static 'images/things/broom@2x.png' %} 2x">
							</button>
							<div class="thing_text">清潔</div>
						</div>

						<!-- travel -->
						<div id="travel">
							<button id="travel_btn" type="button" name="thing_btn" class="btn1" value="T008">
								<img class="thing_img" src="{% static 'images/things/luggage.png' %}" srcset="{% static 'images/things/luggage.png' %} 1x, {% static 'images/things/luggage@2x.png' %} 2x">
							</button>
							<div class="thing_text">旅行</div>
						</div>
					</div>

					<div id="row3">
						<!-- work -->
						<div id="work">
							<button id="work_btn" type="button" name="thing_btn" class="btn1" value="T009">
								<img class="thing_img" src="{% static 'images/things/briefcase.png' %}" srcset="{% static 'images/things/briefcase.png' %} 1x, {% static 'images/things/briefcase@2x.png' %} 2x">
							</button>
							<div class="thing_text">工作</div>
						</div>

						<!-- relax -->
						<div id="relax">
							<button id="relax_btn" type="button" name="thing_btn" class="btn1" value="T010">
							<img class="thing_img" src="{% static 'images/things/relaxing.png' %}" srcset="{% static 'images/things/relaxing.png' %} 1x, {% static 'images/things/relaxing@2x.png' %} 2x">
							</button>
							<div class="thing_text">放鬆</div>
						</div>

						<!-- party -->
						<div id="party">
							<button id="party_btn" type="button" name="thing_btn" class="btn1" value="T011">
								<img class="thing_img" src="{% static 'images/things/confetti.png' %}" srcset="{% static 'images/things/confetti.png' %} 1x, {% static 'images/things/confetti@2x.png' %} 2x">
							</button>
							<div class="thing_text">派對</div>
						</div>

						<!-- reading -->
						<div id="reading">
							<button id="reading_btn" type="button" name="thing_btn" class="btn1" value="T012">
								<img class="thing_img" src="{% static 'images/things/open-book.png' %}" srcset="{% static 'images/things/open-book.png' %} 1x, {% static 'images/things/open-book@2x.png' %} 2x">
							</button>
							<div class="thing_text">閱讀</div>
						</div>
					</div>

					<div id="row4">
						<!-- movie -->
						<div id="movie">
							<button id="movie_btn" type="button" name="thing_btn" class="btn1" value="T013">
								<img class="thing_img" src="{% static 'images/things/video-player.png' %}" srcset="{% static 'images/things/video-player.png' %} 1x, {% static 'images/things/video-player@2x.png' %} 2x">
							</button>
							<div class="thing_text">看電影</div>
						</div>

						<!-- other -->
						<div id="other">
							<button id="other_btn" type="button" name="thing_btn" class="btn1" value="T014">
								<img class="thing_img" src="{% static 'images/things/add.png' %}" srcset="{% static 'images/things/add.png' %} 1x, {% static 'images/things/add@2x.png' %} 2x">
							</button>
							<div class="thing_text">其他</div>
						</div>
					</div>
				</div>
			</div>

			<div id="next">
				<img id="_3" src="{% static 'images/decoration/_3.png' %}" srcset="{% static 'images/decoration/_3.png' %} 1x, {% static 'images/decoration/_3@2x.png' %} 2x">
				<div id="next_btn">
					<input id="_27" type="button" onclick="check(this);">
					<svg class="_10" viewBox="0 0 30.915 15.458">
						<path id="_10" d="M 30.9150390625 0 L 15.45751953125 15.45751953125 L 0 0">
						</path>
					</svg>
					<div id="next_text">
						<span>繼續</span>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/addDiary2.js' %}"></script>
{% endblock %}
