{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/Diary/editDiary.css' %}">
{% endblock %}

{% block body %}
	<form id="editDiaryForm" action="" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ID2">
			<!-- title -->
			<div id="title">
				<span class="title">更改日記</span>
			</div>

			<!-- Date -->
			<div id="_50">
				<div id="Date">
					<div id="date_text">Date</div>
					<input id="date_input" type="date" value="{{ date }}" max="{{ date }}">
				</div>
			</div>

			<!-- Time -->
			<div id="_51">
				<div id="Time">
					<div id="time_text">Time</div>
					<input id="time_input" type="time" value="{{ time }}">
				</div>
			</div>

			<!-- Mood -->
			<div id="_52" onclick="application.goToTargetView(event)">
				<div id="Mood">
					<div id="mood_text">心情</div>
					<button id="mood_btn" value="{{ mood }}">
						<img id="mood_img" src="">
					</button>
				</div>
			</div>

			<!-- Thing -->
			<div id="_53">
				<div id="Thing">
					<div id="thing_text">事件</div>
					<svg id="_9" viewBox="0 0 348 1">
						<path class="_9" d="M 0 0 L 255.796875 0 L 348 0">
						</path>
					</svg>
					<div id="_bk">
						<div id="_bl" onclick="application.goToTargetView(event)">
							<img id="shopping-bag" src="{% static 'images/Diary/Edit/shopping-bag.png' %}" srcset="{% static 'images/Diary/Edit/shopping-bag.png' %} 1x, {% static 'images/Diary/Edit/shopping-bag@2x.png' %} 2x">
							<div id="_bm">購物</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Photo -->
			<div id="_54">
				<div id="Photo">
					<img id="photo-camera" src="{% static 'images/Diary/Edit/photo-camera.png' %}" srcset="{% static 'images/Diary/Edit/photo-camera.png' %} 1x, {% static 'images/Diary/Edit/photo-camera@2x.png' %} 2x">
				</div>

				<!-- Finish -->
				<div id="Finish">
					<button id="finish_btn" onclick="check(this);">
						<span id="finish_text">完成</span>
					</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{% static 'js/Diary/editDiary.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript">
        function check(){
			var form = document.getElementById('editDiaryForm');
			swal("儲存成功", "", "success", {button:"OK"})
				.then(() => {
					form.submit();
				});
			}
    </script>
{% endblock %}
