{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/editDiary.css' %}">
{% endblock %}

{% block body %}
	<form id="editDiaryForm" action="" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ID2">
			<!-- title -->
			<div id="title">
				<span class="title">更改日記</span>
			</div>

			<!-- Date -->
			<div id="_50">
				<div id="Date">
					<div id="date_text">Date</div>
					<input id="date_input" type="date" value="{{ date }}" max="{{ date }}">
				</div>
			</div>

			<!-- Time -->
			<div id="_51">
				<div id="Time">
					<div id="time_text">Time</div>
					<input id="time_input" type="time" value="{{ time }}">
				</div>
			</div>

			<!-- Mood -->
			<div id="_52">
				<div id="Mood">
					<div id="mood_text">心情</div>
					<button id="mood_btn" type="button" value="{{ mood }}" onclick="showEmoji(this);">
						<img id="mood_img" src="">
					</button>
				</div>
			</div>

			<!-- Thing -->
			<div id="_53">
				<div id="Thing">
					<div id="thing_text">事件</div>
					<svg id="_9" viewBox="0 0 348 1">
						<path class="_9" d="M 0 0 L 255.796875 0 L 348 0">
						</path>
					</svg>
					<div id="_bk">
						{% for t in user_things %}
						<div id="_bl">
							<button id="thing_btn" type="button" onclick="showThing(this);">
								<img id="thing_img_" src="{{ MEDIA_URL }}{{ t.things_id.things_img }}">
							</button>
							<div id="_bm">{{ t.things_id.things }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- Photo -->
			<div id="_54">
				<div id="Photo">
					{% if pic %}
					<img class="photo_img"  src="{{ MEDIA_URL }}{{ pic }}">
					{% else %}
					<img id="photo_camera" src="{% static 'images/decoration/photo-camera.png' %}" srcset="{% static 'images/decoration/photo-camera.png' %} 1x, {% static 'images/decoration/photo-camera@2x.png' %} 2x">
					{% endif %}
				</div>

				<!-- Finish -->
				<div id="Finish">
					<button id="finish_btn" onclick="check(this);">
						<span id="finish_text">完成</span>
					</button>
				</div>
			</div>
		</div>
	</form>

{% endblock %}

{% block js %}
	<script src="{% static 'js/editDiary.js' %}"></script>

	<script type="text/javascript">
        function check(){
			var form = document.getElementById('editDiaryForm');
			swal("儲存成功", "", "success", {button:"OK"})
				.then(() => {
					form.submit();
				});
			}
    </script>
{% endblock %}
