{% extends 'layout.html' %}
{% load static %}
{% block body %}
<div id="ID2">
	<img id="_2" src="{% static 'img/newForm/_2.png' %}" srcset="{% static 'img/newForm/_2.png' %} 1x, {% static 'img/newForm/_2@2x.png' %} 2x">
		
	<div id="ID20210322">
		<span>2021/03/22</span>
	</div>
	<div id="_0549">
		<span>上午 05:49</span>
	</div>
	<svg class="_9" viewBox="0 0 301 1">
		<path id="_9" d="M 0 0 L 188.712890625 0 L 301 0">
		</path>
	</svg>
	<div id="">
		<div id="_">
			<svg class="_101">
				<rect id="_101" rx="1" ry="1" x="0" y="0" width="348" height="315">
				</rect>
			</svg>
			<svg class="_15">
				<ellipse id="_15" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_16">
				<ellipse id="_16" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_17">
				<ellipse id="_17" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_18">
				<ellipse id="_18" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_19">
				<ellipse id="_19" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_20">
				<ellipse id="_20" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_21">
				<ellipse id="_21" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_22">
				<ellipse id="_22" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_23">
				<ellipse id="_23" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_24">
				<ellipse id="_24" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_25">
				<ellipse id="_25" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
			<svg class="_26">
				<ellipse id="_26" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
				</ellipse>
			</svg>
		</div>
		<div id="_bl">
			<span>今天心情如何呢？</span>
		</div>
		<div id="_33">
			<div id="_bn">
				<span>超開心</span>
			</div>
			<img id="ID051-joy" src="{% static 'img/newForm/ID051-joy.png' %}"
				 srcset="{% static 'img/newForm/ID051-joy.png' %} 1x, {% static 'img/newForm/ID051-joy@2x.png' %} 2x">
				
			<div id="_bp">
				<span>開心</span>
			</div>
			<img id="ID051-happy" src="ID051-happy.png" srcset="ID051-happy.png 1x, ID051-happy@2x.png 2x">
				
			<div id="_br">
				<span>普通</span>
			</div>
			<img id="ID051-neutral" src="ID051-neutral.png" srcset="ID051-neutral.png 1x, ID051-neutral@2x.png 2x">
				
			<div id="_bt">
				<span>難過</span>
			</div>
			<img id="ID051-sad-1" src="ID051-sad-1.png" srcset="ID051-sad-1.png 1x, ID051-sad-1@2x.png 2x">
				
			<div id="_bv">
				<span>超難過</span>
			</div>
			<img id="ID051-cry" src="ID051-cry.png" srcset="ID051-cry.png 1x, ID051-cry@2x.png 2x">
				
		</div>
	</div>
	<div id="_bx">
		<svg class="_101_by">
			<rect id="_101_by" rx="1" ry="1" x="0" y="0" width="348" height="280">
			</rect>
		</svg>
		<svg class="_15_bz">
			<ellipse id="_15_bz" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_16_b">
			<ellipse id="_16_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_17_b">
			<ellipse id="_17_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_18_b">
			<ellipse id="_18_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_19_b">
			<ellipse id="_19_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_20_b">
			<ellipse id="_20_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_21_b">
			<ellipse id="_21_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_22_b">
			<ellipse id="_22_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_23_b">
			<ellipse id="_23_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_24_b">
			<ellipse id="_24_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_25_b">
			<ellipse id="_25_b" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
		<svg class="_26_ca">
			<ellipse id="_26_ca" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
			</ellipse>
		</svg>
	</div>
	<div id="Face_Scanning">
		<span>Face Scanning</span>
	</div>
	<svg class="_27">
		<ellipse id="_27" rx="29" ry="29" cx="29" cy="29">
		</ellipse>
	</svg>
	<div id="_cd">
		<span>繼續</span>
	</div>
	<svg class="_10" viewBox="0 0 30.915 15.458">
		<path onclick="application.goToTargetView(event)" id="_10" d="M 30.9150390625 0 L 15.45751953125 15.45751953125 L 0 0">
		</path>
	</svg>
	<img onclick="application.goToTargetView(event)" id="photo-camera" src="photo-camera.png" srcset="photo-camera.png 1x, photo-camera@2x.png 2x">
		
	<img id="w644" src="w644.png" srcset="w644.png 1x, w644@2x.png 2x">
		
	<img id="_3" src="_3.png" srcset="_3.png 1x, _3@2x.png 2x">
		
	<img id="w644_1" src="w644_1.png" srcset="w644_1.png 1x, w644_1@2x.png 2x">
		
</div>
{% endblock %}
