<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <title>EzAnalysis</title>

    {% load bootstrap4 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>

    {% block body %}{% endblock %}

</body>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<!--    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js "></script>-->
    {% block js %}{% endblock %}

</html>
