<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block css %}{% endblock %}

    <title>EzAnalysis</title>

    {% load bootstrap4 %}

</head>

<body>

    {% block body %}{% endblock %}

</body>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

    {% block js %}{% endblock %}

</html>
