{% extends 'layout.html' %}
{% load static %}
{% block body %}
	<div id="ID2__1">
		<div onclick="application.goToTargetView(event)" id="NEXT" class="NEXT">
			<svg class="_4">
				<rect id="_4" rx="24" ry="24" x="0" y="0" width="123" height="48">
				</rect>
			</svg>
			<div id="">
				<span>完成</span>
			</div>
		</div>
		<svg class="_5">
			<rect id="_5" rx="28" ry="28" x="0" y="0" width="384" height="337">
			</rect>
		</svg>
		<div id="_">
			<div id="_ba">
				<div id="_bb">
					<span>其他</span>
				</div>
				<svg class="_14">
					<rect id="_14" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<img id="ID035-astronaut" src="{% static 'img/userInfo/ID035-astronaut.png' %}" srcset="{% static 'img/userInfo/ID035-astronaut.png 1x' %}, {% static 'img/userInfo/ID035-astronaut@2x.png 2x' %}"/>

			</div>
			<div id="_bc">
				<svg class="_8">
					<rect id="_8" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<div id="_bd">
					<span>農民漁牧業</span>
				</div>
				<img id="ID001-farmer" src="{% static 'img/userInfo/ID001-farmer.png' %}" srcset="{% static 'img/userInfo/ID001-farmer.png' %} 1x, {% static 'img/userInfo/ID001-farmer@2x.png' %} 2x">

			</div>
			<div id="_bf">
				<div id="_bg">
					<span>退休人員</span>
				</div>
				<svg class="_11">
					<rect id="_11" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<img id="ID043-teacher" src="ID043-teacher.png" srcset="ID043-teacher.png 1x, ID043-teacher@2x.png 2x">

			</div>
			<div id="_bj">
				<div id="_bk">
					<span>家管</span>
				</div>
				<svg class="_15">
					<rect id="_15" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<img id="ID008-maid" src="ID008-maid.png" srcset="ID008-maid.png 1x, ID008-maid@2x.png 2x">

			</div>
			<div id="_bn">
				<div id="_bo">
					<span>工商業</span>
				</div>
				<svg class="_9">
					<rect id="_9" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<img id="ID048-office-worker" src="ID048-office-worker.png" srcset="ID048-office-worker.png 1x, ID048-office-worker@2x.png 2x">

			</div>
			<div id="_br">
				<svg class="_12">
					<rect id="_12" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<div id="_bt">
					<span>自由業</span>
				</div>
				<img id="ID019-hacker" src="ID019-hacker.png" srcset="ID019-hacker.png 1x, ID019-hacker@2x.png 2x">

			</div>
			<div id="_bv">
				<div id="_bw">
					<span>服務業</span>
				</div>
				<svg class="_13">
					<rect id="_13" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<img id="ID046-telemarketer" src="ID046-telemarketer.png" srcset="ID046-telemarketer.png 1x, ID046-telemarketer@2x.png 2x">

			</div>
			<div id="_bz">
				<svg class="_7">
					<rect id="_7" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<div id="_b">
					<span>軍公教</span>
				</div>
				<img id="ID030-soldier" src="ID030-soldier.png" srcset="ID030-soldier.png 1x, ID030-soldier@2x.png 2x">

			</div>
			<div id="_ca">
				<svg class="_10">
					<rect id="_10" rx="20" ry="20" x="0" y="0" width="80" height="80">
					</rect>
				</svg>
				<img id="ID009-student" src="ID009-student.png" srcset="ID009-student.png 1x, ID009-student@2x.png 2x">

				<div id="_cb">
					<span>學生</span>
				</div>
			</div>
		</div>
		<div id="logo" class="logo">
			<svg class="logo_b">
				<ellipse id="logo_b" rx="135" ry="135" cx="135" cy="135">
				</ellipse>
			</svg>
			<div id="logo_ca">
				<span>logo</span>
			</div>
		</div>
		<div id="age" class="age">
			<svg class="_3">
				<rect id="_3" rx="28" ry="28" x="0" y="0" width="368" height="64">
				</rect>
			</svg>
			<div id="_cc">
				<span>年齡:</span>
			</div>
		</div>
	</div>
{% endblock %}
