
	.mediaViewInfo {
		--web-view-name: 修改基本資料1;
		--web-view-id: ID1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: ID1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ID1 {
		position: absolute;
		width: 428px;
		height: 926px;
		background-color: rgba(253,231,232,1);
		overflow: hidden;
		--web-view-name: 修改基本資料1;
		--web-view-id: ID1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	/* ----------------name----------------*/
	#name {
		position: absolute;
		width: 368px;
		height: 98px;
		left: 29px;
		top: 90px;
		overflow: visible;
	}
	#nametextbox{
		fill: rgba(255,255,255,1);
		stroke: rgba(109,104,117,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.nametextbox{
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 386px;
		height: 50px;
		border-radius: 20px;/*圓框*/
		font-size: 24px; /*字體大小*/ 
		border:6px rgba(109,104,117,1) solid;
		mix-blend-mode: darken;
		left: 0px;
		top: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
	}
	#textname{
		mix-blend-mode: darken;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(109,104,117,1);
	}
	/* ----------------next----------------*/
	#NEXT {
		position: absolute;
		width: 123px;
		height: 48px;
		left: 282px;
		top: 823px;
		overflow: visible;
	}
	#_4 {
		fill: rgba(255,215,184,1);
	}
	._4 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 141px;
		height: 66px;
		left: 0px;
		top: 0px;
	}
	#final {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		left: 32px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: left;
		font-family: Apple SD Gothic Neo;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	/* ----------------woman----------------*/
	#woman1 {
		position: absolute;
		width: 78px;
		height: 78px;
		left: 250px;
		top: 300px;
		overflow: visible;
	}
	#woman {
		position: absolute;
		width: 37.675px;
		height: 69.267px;
		left: 20.163px;
		top: 4.367px;
		overflow: visible;
	}
	#_1 {
		fill: rgba(249,117,161,1);
	}
	._1 {
		overflow: visible;
		position: absolute;
		width: 15.153px;
		height: 15.152px;
		left: 11.192px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	/* ----------------man----------------*/
	#man1{
		position: absolute;
		width: 78px;
		height: 78px;
		left: 50px;
		top: 300px;
		overflow: visible;
	}
	#_1_bf {
		fill: rgba(255,255,255,1);
	}
	._1_bf {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 96px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#man {
		position: absolute;
		width: 30.304px;
		height: 69.267px;
		left: 23.848px;
		top: 4.367px;
		overflow: visible;
	}

	#_bj {
		fill: rgba(214,226,233,1);
	}
	._bj {
		position: absolute;
		overflow: visible;
		width: 428px;
		height: 64px;
		left: -1px;
		top: 0px;
	}
	#_bk {
		left: 153px;
		top: 11px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
	}
	/* ----------------agetextbox ----------------*/
	#age {
		position: absolute;
		width: 368px;
		height: 98px;
		left: 29px;
		top: 220px;
		overflow: visible;
	}
	#agetext{
		position: absolute;
		width: 368px;
		height: 98px;
		left: 29px;
		top: 180px;
		overflow: visible;
	}
	#agetextbox {
		fill: rgba(255,255,255,1);
		stroke: rgba(109,104,117,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.agetextbox {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 386px;
		height: 50px;
		border-radius: 20px;/*圓框*/
		font-size: 24px; /*字體大小*/ 
		border:6px rgba(109,104,117,1) solid;
		mix-blend-mode: darken;
		left: 0px;
		top: 34px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
	}
	#age {
		mix-blend-mode: darken;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(109,104,117,1);
	}

	#_bo {
		position: absolute;
		width: 384px;
		height: 337px;
		left: 21px;
		top: 452px;
		overflow: visible;
	}
	#_5 {
		opacity: 0.642;
		fill: rgba(185,185,185,1);
	}
	._5 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 402px;
		height: 355px;
		left: 0px;
		top: 0px;
	}
	#_bq {
		position: absolute;
		width: 324px;
		height: 318px;
		left: 30px;
		top: 14px;
		overflow: visible;
	}
	/*-------------- other -----------------*/
	#other {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 244px;
		top: 205px;
		overflow: visible;
	}
	#other_text {
		left: 23px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 35px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	.other_btn{
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#ID035-astronaut {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 8px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#farmer {
		position: absolute;
		width: 85px;
		height: 102px;
		left: 120px;
		top: 205px;
		overflow: visible;
	}
	#farmer_btn {
		fill: rgba(227,124,124,1);
	}
	.farmer_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 2px;
		top: 0px;
	}
	/* farmer */
	#farmer_text {
		left: 0px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#ID001-farmer {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
	/* ----------------------------retirement------------------------------- */
	#retirement {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 0px;
		top: 205px;
		overflow: visible;
	}
	#retirement_text {
		left: 6px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#retirement_btn {
		fill: rgba(167,233,212,1);
	}
	.retirement_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#ID043-teacher {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#home {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 244px;
		top: 100px;
		overflow: visible;
	}
	#home_text {
		left: 23px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 35px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#home_btn {
		fill: rgba(250,214,172,1);
	}
	.home_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#ID008-maid {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#business {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 122px;
		top: 100px;
		overflow: visible;
	}
	#business_text {
		left: 15px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 52px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#business_btn {
		fill: rgba(136,158,170,1);
	}
	.business_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#ID048-office-worker {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#freelance {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 0px;
		top: 100px;
		overflow: visible;
	}
	#freelance_btn {
		fill: rgba(147,146,155,1);
	}
	.freelance_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#freelance_text {
		left: 15px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 52px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#ID019-hacker {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#service {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 244px;
		top: -10px;
		overflow: visible;
	}
	#service_text {
		left: 15px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 52px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#service_btn {
		fill: rgba(184,245,255,1);
	}
	.service_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#ID046-telemarketer {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#soldier {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 122px;
		top: -10px;
		overflow: visible;
	}
	#soldier_btn {
		fill: rgba(198,218,208,1);
	}
	.soldier_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#soldier_text {
		left: 15px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 52px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
	#ID030-soldier {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
/* --------------------------------------------------------------- */
	#student {
		position: absolute;
		width: 80px;
		height: 102px;
		left: 0px;
		top: -10px;
		overflow: visible;
	}
	#student_btn {
		fill: rgba(250,215,179,1);
	}
	.student_btn {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 80px;
		left: 0px;
		top: 0px;
	}
	#ID009-student {
		position: absolute;
		width: 63px;
		height: 63px;
		left: 9px;
		top: 20px;
		overflow: visible;
	}
	#student_text {
		left: 24px;
		top: 90px;
		position: absolute;
		overflow: visible;
		width: 35px;
		white-space: nowrap;
		text-align: left;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}
/* --------------------------------------------------------------- */
	#nametextbox{
		mix-blend-mode: darken;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
	}
	.btn1{
		border:2px #ffffff solid;
		height: 100px;
		width:  100px;
		font-size: small;
		margin-top: 10px;
		border-radius:50px;
	  	}
	.btn2{
		border:5px #f78989 solid;
		height: 100px;
		width:  100px;
		font-size: small;
		margin-top: 10px;
		border-radius:50px;
	  	}
	.btn3{
		border:none;
		height: 80px;
		width:  80px;
		font-size: small;
		margin-top: 10px;
		border-radius:20px;
		}
	.btn4{
		border:5px #0066ff solid;
		height: 80px;
		width:  80px;
		font-size: small;
		margin-top: 10px;
		border-radius:20px;
		}	