
	form, #ID1 {
		position: relative;
		width: 100%;
		height: 100%;
		background: rgba(253,231,232,1);
		overflow-x: hidden;
		overflow-y: scroll;
	}

    /*  vh=view height, vw=view weight */

	/* --- 標題 --- */
	#_bk {
		position: relative;
		width: 100%;
		height: 50px;
		padding: 4px 0;
		white-space: nowrap;
		overflow: visible;
		background: rgba(214,226,233,1);
	}
    #banner {
        position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
    }

    #content {
        background: rgba(253,231,232,1);
    }

	/* --- name --- */
	#name {
		position: relative;
		width: 368px;
		height: 98px;
		margin: 0 auto;
		overflow: visible;
	}
	#name_text {
		position: relative;
		overflow: visible;
		width: 80%;
		height: 38px;
		margin: 0 auto;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(109,104,117,1);
		white-space: nowrap;
		mix-blend-mode: darken;
	}
	#name_textbox {
		fill: rgba(255,255,255,1);
		stroke: rgba(109,104,117,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.name_textbox {
		position: relative;
		width: 100%;
		height: 50px;
		overflow: visible;
		border-radius: 20px; /*圓框*/
		border:6px rgba(109,104,117,1) solid;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
		mix-blend-mode: darken;
		white-space: nowrap;
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	}

    /* --- birth --- */
    #age {
		position: relative;
		overflow: visible;
		width: 368px;
		height: 98px;
		margin: 0 auto;
		white-space: nowrap;
		mix-blend-mode: darken;
	}

	#age_text{
		position: relative;
		overflow: visible;
		width: 80%;
		height: 38px;
		margin: 0 auto;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(109,104,117,1);
	}
	#age_textbox {
		fill: rgba(255,255,255,1);
		stroke: rgba(109,104,117,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.age_textbox {
		position: relative;
		overflow: visible;
		width: 100%;
		height: 50px;
		border-radius: 20px;/*圓框*/
		border:6px rgba(109,104,117,1) solid;
		text-align: left;
		font-family: Microsoft JhengHei;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(109,104,117,1);
		mix-blend-mode: darken;
		white-space: nowrap;
		filter: drop-shadow(0px 3px 6px  rgba(0, 0, 0, 0.161));
	}

	/* --- gender --- */
	#gen {
        position: relative;
        width: 368px;
		height: 105px;
		margin: 0 auto;
	}
	#gen_btn {
	    position:relative;
	    width: 75%;
	    height: 100%;
	    margin: 0 auto;
	}
	/* man */
	#man {
		position: relative;
		float: left;
		margin: 0 3%;
		padding: 1% 2%;
		overflow: visible;
	}
	/* woman */
	#woman {
		position: relative;
		float: right;
		margin: 0 3%;
		padding: 1% 2%;
		overflow: visible;
	}
	.btn1{
		border:2px #ffffff solid;
		height: 100px;
		width: 100px;
		font-size: small;
		border-radius:50%;
	  	}
	.btn2{
		border: 5px #f78989 solid;
		height: 100px;
		width: 100px;
		font-size: small;
		border-radius:50%;
	  	}

	/* --- work --- */
	#work {
		position: relative;
		width: 368px;
		height: 370px;
		padding: 10px 22px;
		margin: 0 auto;
		overflow: visible;
	}
	#work_background {
	    position: absolute;
	    width: 324px;
		height: 350px;
	    background: rgba(185,185,185,1);

	    opacity: 0.642;
	    border-radius:28px;
	    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	}
	#_5 {
		opacity: 0.642;
		fill: rgba(185,185,185,1);
	}
	._5 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.btn3{
		border:none;
		height: 80px;
		width:  80px;
		font-size: small;
		border-radius: 20px;
		}
	.btn4{
		border:5px #0066ff solid;
		height: 80px;
		width:  80px;
		margin: 0 auto;
		font-size: small;
		border-radius: 20px;
		}


	#work_row1 {
        position: relative;
        width: 292px;
        height: 100px;
        margin: 12.5px auto;
	}
	#work_row2 {
        position: relative;
        width: 292px;
        height: 100px;
        margin: 0 auto;
	}
	#work_row3 {
        position: relative;
        width: 292px;
        height: 100px;
        margin: 12.5px auto;
	}

	/* 學生 */
	#student {
		position: relative;
		float: left;
		width: 80px;
		height: 100px;
        overflow: visible;
	}
	#student_btn {
		fill: rgba(250,215,179,1);
	}
	.student_btn {
		position: relative;
		overflow: visible;
	}
	#ID009-student {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#student_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

    /* 軍公教 */
	#soldier {
		position: relative;
		width: 80px;
		height: 100px;
		margin: 0 auto;
        overflow: visible;
	}
	#soldier_btn {
		fill: rgba(198,218,208,1);
	}
	.soldier_btn {
		position: relative;
		overflow: visible;
	}
	#ID030-soldier {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#soldier_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

	/* 服務業 */
	#service {
		position: relative;
		float: right;
		width: 80px;
		height: 100px;
        overflow: visible;
	}
	#service_btn {
		fill: rgba(184,245,255,1);
	}
	.service_btn {
		position: relative;
		overflow: visible;
	}
	#ID046-telemarketer {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#service_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

    /* 自由業 */
	#freelance {
		position: relative;
		float: left;
		width: 80px;
		height: 100px;
        overflow: visible;
	}
	#freelance_btn {
		fill: rgba(147,146,155,1);
	}
	.freelance_btn {
		position: relative;
		overflow: visible;
	}
	#ID019-hacker {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#freelance_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

    /* 工商業 */
	#business {
		position: relative;
		width: 80px;
		height: 100px;
		margin: 0 auto;
        overflow: visible;
	}
	#business_btn {
		fill: rgba(136,158,170,1);
	}
	.business_btn {
		position: relative;
		overflow: visible;
	}
	#ID048-office-worker {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#business_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

    /* 家管 */
	#home {
		position: relative;
		float: right;
		width: 80px;
		height: 100px;
        overflow: visible;
	}
	#home_btn {
		fill: rgba(250,214,172,1);
	}
	.home_btn {
		position: relative;
		overflow: visible;
	}
	#ID008-maid {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#home_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

    /* 退休人員 */
	#retirement {
		position: relative;
		float: left;
		width: 80px;
		height: 100px;
		overflow: visible;
	}
	#retirement_btn {
		fill: rgba(167,233,212,1);
	}
	.retirement_btn {
		position: relative;
		overflow: visible;
	}
	#ID043-teacher {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#retirement_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

    /* 農民漁牧業 */
	#farmer {
		position: relative;
		width: 80px;
		height: 100px;
		margin: 0 auto;
        overflow: visible;
	}
	#farmer_btn {
		fill: rgba(227,124,124,1);
	}
	.farmer_btn {
		position: relative;
		overflow: visible;
	}
	#ID001-farmer {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#farmer_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

	/* 其他 */
	#other {
		position: relative;
		float: right;
		width: 80px;
		height: 100px;
        overflow: visible;
	}
	#other_btn {
	}
	.other_btn{
		position: relative;
		overflow: visible;
	}
	#ID035-astronaut {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	#other_text {
		position: relative;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: center;
		font-family: Cambria;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
	}

	/* --- next page --- */
	#next {
        position: relative;
		width: 368px;
		height: 50px;
		margin: 0 auto 10px;
        overflow: visible;
	}
	#next_btn {
        position: relative;
        width: 80%;
        height:50px;
        margin: 0 auto;
	}

    .next_btn {
        position: relative;
        float: right;
        width: 130px;
        height: 50px;
        margin: 0 auto;
        color: white;
		font-family: Apple SD Gothic Neo;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		border: none;
		border-radius: 24px;
		background: rgba(255,215,184,1);
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    }
