
	#menu {
		position: relative;
		min-width: fit-content;
		background-image: url('../../images/decoration/_2.png');
		background-size: cover;
		background-color: rgba(250,247,237,1);
		background-repeat: no-repeat;
		overflow-x: hidden;
		overflow-y: visible;

	}

    /* background */
    #bh {
        position: relative;
        width: 380px;
        height: 245px;
        margin: 0 auto;
        overflow: hidden;
    }
	#KEEP_bn {
		left: 10px;
		top: 15px;
		position: absolute;
		white-space: nowrap;
		text-align: left;
		font-family: Bodoni 72 Smallcaps;
		font-style: normal;
		font-weight: normal;
		font-size: 92px;
		color: rgba(132,86,42,1);
		letter-spacing: -0.05px;
	}
    #KEEP {
		left: 21px;
		top: 27px;
		position: absolute;
		white-space: nowrap;
		text-align: left;
		font-family: Bodoni 72 Smallcaps;
		font-style: normal;
		font-weight: normal;
		font-size: 92px;
		opacity: 0.348;
		color: rgba(0,0,0,0.22);
		letter-spacing: -0.05px;
	}
	#DIARY_bn {
		left: 113px;
		top: 103px;
		position: absolute;
		white-space: nowrap;
		text-align: left;
		font-family: Bodoni 72 Smallcaps;
		font-style: normal;
		font-weight: normal;
		font-size: 92px;
		color: rgba(132,86,42,1);
		letter-spacing: -0.05px;
	}
    #DIARY {
		left: 125px;
		top: 115px;
		position: absolute;
		white-space: nowrap;
		text-align: left;
		font-family: Bodoni 72 Smallcaps;
		font-style: normal;
		font-weight: normal;
		font-size: 92px;
		opacity: 0.348;
		color: rgba(0,0,0,0.22);
		letter-spacing: -0.05px;
	}
    #_bh {
		position: absolute;
		width: 386px;
		top: -76px;
		left: 130px;
	}

    /* 拍立得1 */
	#_61 {
		position: absolute;
		width: 45.66px;
		height: 63.539px;
		left: -5px;
		top: -7px;
		transform-origin: center;
		transform: matrix(1,0,0,1,11.0992,180.5922) rotate(-15deg);
	}
	#_136 {
		fill: rgba(255,255,255,1);
	}
	._136 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 78.549px;
		height: 91.192px;
		left: 0px;
		top: 0px;
	}
	#vh9keWU {
		position: absolute;
		width: 50.115px;
		height: 56.339px;
		left: -2px;
		top: 3.511px;
		-webkit-transform:rotate(15deg);
	}
	#clothespin_PNG57 {
		filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 23.44px;
		height: 23.44px;
		left: 10px;
		top: 163px;
	}

	/* 拍立得2 */
	#_62 {
		transform: matrix(1,0,0,1,69.4052,162.9021) rotate(-27deg);
		transform-origin: center;
		position: absolute;
		width: 45.66px;
		height: 63.539px;
		left: -10px;
		top: -3px;
	}
	#_136_bu {
		fill: rgba(255,255,255,1);
	}
	._136_bu {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 87.53px;
		height: 95.343px;
		left: 0px;
		top: 0px;
	}
	#ID8164a8766028c1cc7d82587f62dd {
		position: absolute;
		width: 56.53px;
		height: 60.376px;
		left: -5px;
		top: 3.949px;
		-webkit-transform:rotate(27deg);
	}
	#clothespin_PNG57_bw {
		filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 32.646px;
		height: 32.646px;
		left: 50px;
		top: 147px;
	}
	/* 拍立得線 */
	#_13 {
		fill: rgba(0,0,0,0);
		stroke: rgba(195,169,146,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._13 {
		position: relative;
		width: 259.74px;
		height: 61.78px;
		top: 115px;
		left: -113px;
		transform: matrix(1,0,0,1,0,0);
	}

    /* 新增日記 */
    #_ba {
		position: relative;
		width: 350px;
		height: 203px;
		margin: 5px auto;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		cursor: pointer;
	}
	#add_btn {
        width: 350px;
        height: 100%;
        border: none;
        background: none;
    }
	#_127 {
		fill: rgba(212,224,231,1);
	}
	._127 {
		position: absolute;
		width: 350px;
		height: 203px;
		left: 0px;
		top: 0px;
	}
    #_126 {
		fill: transparent;
		stroke: rgba(191,163,137,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 10 5;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._126 {
		position: absolute;
		width: 328px;
		height: 182px;
		left: 9px;
		top: 10px;
	}
	#Add_Diary {
		position: relative;
		white-space: nowrap;
		text-align: center;
		font-family: Cochin;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		color: rgba(191,163,137,1);
		letter-spacing: -0.05px;
	}
	#w644 {
	    position: relative;
	    top: -108%;
	    width: 130px;
	    margin: 0 auto;
	}
    #w644_1 {
		position: relative;
		width: 130.305px;
		height: 42.242px;
		filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.161));
	}

    /* 修改日記 */
	#_ba1{
		position: relative;
		width: 350px;
		height: 203px;
		margin: 20px auto 0;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		cursor: pointer;
	}
	#edit_btn {
        width: 350px;
        height: 100%;
        border: none;
        background: none;
    }
	#_125 {
		fill: rgba(212,224,231,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._125 {
		position: absolute;
		width: 350px;
		height: 203px;
		left: 0px;
		top: 0px;
		cursor: pointer;
	}
	#_128 {
		fill: transparent;
		stroke: rgba(191,163,137,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
		opacity: 0.32;
	}
	._128 {
		position: absolute;
		width: 328px;
		height: 182px;
		left: 11px;
		top: 11px;
	}
	#Revise_Diary {
		position: relative;
		white-space: nowrap;
		text-align: center;
		font-family: Cochin;
		font-style: normal;
		font-weight: normal;
		font-size: 70px;
		color: rgba(191,163,137,1);
		letter-spacing: -0.05px;
	}
	#w644_bj {
	    position: relative;
	    top: -108%;
	    width: 130px;
	    margin: 0 auto;
	}
	#w644_1_bj {
		position: relative;
		width: 129px;
		height: 45.134px;
        filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.161));
	}

	/* post */
	#_bc {
		position: relative;
		top: -350px;
		width: 350px;
		height: 168px;
		margin: 0 auto;
	}
    #img_bc {
        position: relative;
        float: right;
        left: 55px;
        width: 168px;
        height: 168px;
    }
	#_be {
		position: absolute;
		width: 166.65px;
		height: 189px;
		filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.161));
	}
	#_bf {
		position: absolute;
		width: 115.895px;
		height: 129.102px;
		left: 28.5px;
        top: 29px;
	}
	#_1 {
		position: absolute;
		width: 76.954px;
		height: 56.977px;
		left: 62.5px;
        top: 30px;
	}

	/* flower */
	#img_3 {
	    position: relative;
	    width: 368px;
	    height:300px;
	    padding: 10px;
	    margin: 0 auto;
	}
	#_3 {
	    position: absolute;
	    width: 286px;
	    height: 290px;
	}
