/*# Empty CSS file for your own CSS*/
@charset "utf-8";
html, body{
		/*background:	#ecffff;*/
		color: #003d79;
		font-size:17px;
		font-weight:bold;
		background-image:url('http://www.lanrentuku.com/savepic/img/allimg/1305/5-13050G30234.jpg');
}
div.aa h3{
	margin:20px auto 0px auto;
}
div.tt input.form-control{ 
	border:2px #bebebe solid;
	margin-right:10px; 
	margin-bottom:5px;
}
.btn{
    margin: 30px 0 0 0;
    width: 130px;
}
/*-------------------------------------------------------*/
.mediaViewInfo {
    --web-view-name: 基本資料2 – 1;
    --web-view-id: ID2__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: ID2__1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#ID2__1 {
    position: absolute;
    width: 428px;
    height: 926px;
    background-color: rgba(214,226,233,1);
    overflow: hidden;
    --web-view-name: 基本資料2 – 1;
    --web-view-id: ID2__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#NEXT {
    position: absolute;
    width: 123px;
    height: 48px;
    left: 282px;
    top: 823px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: ____2.html;
    cursor: pointer;
}
#_4 {
    fill: rgba(219,231,228,1);
}
._4 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 141px;
    height: 66px;
    left: 0px;
    top: 0px;
}
# {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 36px;
    top: 1px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#_5 {
    opacity: 0.52;
    fill: rgba(185,185,185,1);
}
._5 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 402px;
    height: 355px;
    left: 21px;
    top: 453px;
}
#_ {
    position: absolute;
    width: 324px;
    height: 318px;
    left: 51px;
    top: 467px;
    overflow: visible;
}
#_ba {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 244px;
    top: 216px;
    overflow: visible;
}
#_bb {
    left: 23px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#_14 {
    fill: rgba(255,255,255,1);
}
._14 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#ID035-astronaut {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_bc {
    position: absolute;
    width: 85px;
    height: 102px;
    left: 120px;
    top: 216px;
    overflow: visible;
}
#_8 {
    fill: rgba(227,124,124,1);
}
._8 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 2px;
    top: 0px;
}
#_bd {
    left: 0px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#ID001-farmer {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 11px;
    top: 9px;
    overflow: visible;
}
#_bf {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 0px;
    top: 216px;
    overflow: visible;
}
#_bg {
    left: 6px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#_11 {
    fill: rgba(167,233,212,1);
}
._11 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#ID043-teacher {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_bj {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 244px;
    top: 108px;
    overflow: visible;
}
#_bk {
    left: 23px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#_15 {
    fill: rgba(250,214,172,1);
}
._15 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#ID008-maid {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_bn {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 122px;
    top: 108px;
    overflow: visible;
}
#_bo {
    left: 15px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#_9 {
    fill: rgba(136,158,170,1);
}
._9 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#ID048-office-worker {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_br {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 0px;
    top: 108px;
    overflow: visible;
}
#_12 {
    fill: rgba(147,146,155,1);
}
._12 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#_bt {
    left: 15px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#ID019-hacker {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_bv {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 244px;
    top: 0px;
    overflow: visible;
}
#_bw {
    left: 15px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#_13 {
    fill: rgba(184,245,255,1);
}
._13 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#ID046-telemarketer {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_bz {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 122px;
    top: 0px;
    overflow: visible;
}
#_7 {
    fill: rgba(198,218,208,1);
}
._7 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#_b {
    left: 15px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#ID030-soldier {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_ca {
    position: absolute;
    width: 80px;
    height: 102px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#_10 {
    fill: rgba(250,215,179,1);
}
._10 {
    position: absolute;
    overflow: visible;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}
#ID009-student {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 9px;
    top: 9px;
    overflow: visible;
}
#_cb {
    left: 24px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.05px;
}
#logo {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 78px;
    top: 26px;
    overflow: visible;
}
#logo_b {
    fill: rgba(255,255,255,1);
}
.logo_b {
    position: absolute;
    overflow: visible;
    width: 270px;
    height: 270px;
    left: 0px;
    top: 0px;
}
#logo_ca {
    left: 91px;
    top: 106px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: rgba(112,112,112,1);
}
#age {
    position: absolute;
    width: 368px;
    height: 106px;
    left: 29px;
    top: 312px;
    overflow: visible;
}
#_3 {
    fill: rgba(255,255,255,1);
    stroke: rgba(109,104,117,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
._3 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 82px;
    left: 0px;
    top: 42px;
}
#_cc {
    mix-blend-mode: darken;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Microsoft JhengHei;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(109,104,117,1);
}
